/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ################################### */
/* CSS reset  */
/* ################################### */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

a:-webkit-any-link {
    color: initial;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
}

.hidden {
  display: none;
}
/* ################################### */
/* Whole app container styling */
/* ################################### */


.app-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

/* ################################### */
/* Navigation styling */
/* ################################### */


.nav-container {
  width: 100%;
  height: 55px;
  /* display: flex; */
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-clip: border-box;
  background-color: white;
  box-shadow: 0px 5.5px 5.5px -5.5px #ccc;
  position: fixed;
}

.nav-auth-buttons {
  display: flex;
  flex-direction: row;
  margin: 10;
}

.nav-auth-buttons .btn {
  margin: auto;
  margin-right: 40px;
  color: grey !important;
  text-transform: uppercase;
}

.nav-auth-buttons .btn:active {
  box-shadow: 0px 12px 12px -14px lightgray;
  background-color:  lightgray;
  border: 1px solid lightgray;
}

.title-logo+.nav-auth-buttons {
  /* margin-left: 900px; */
}

.title-logo, h1 {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  height: 90%;
  justify-content: center;
  font-weight: bold;
}

.title-logo {
  width: 40px;
  height: 5px;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
}

.title-logo::first-letter{
  color: black;
}

.title-logo p {
  font-size: 30px;
  margin-top: 11px;
  padding-right: 5px;
}

.title-logo svg {
  color: red;
  margin-left: 100px;
}

.logo-image {
    margin-top: 18px;
    margin-left: 55px;
    height: 20px;
    left: 10px;
    position: fixed;
}

.upload-button {
    margin: auto;
    margin-right: 20px;
    color: #a3a3a3
}

.upload-button:hover {
  cursor: pointer;
}

.upload-button .plus-container {
  font-size: large;
  width: 20px;
}

.upload-button a {
  /* position: absolute;
  color: white;
  padding-left: 1px;
  font-size: large; */
  position: absolute;
  color: white;
  line-height: 20px;
  padding-left: 2px;
  width: 20px;
}

/* ################################### */
/*  buttons styling  */
/* ################################### */

.btn {
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  display: flex;
  color: #065fd4 !important;
  text-decoration: none;
  border-radius: 3px;
  margin: auto;
  width: 70px;
  height: 20px;
  margin-right: 20px;
  align-items: center;
}
/* .btn {
  text-transform: uppercase;
  display: flex;
  color: #065fd4;
  text-decoration: none;
  border-radius: 3px;
  margin: auto;
  width: 70px;
  height: 20px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
} */

.blue-btn {
  font-size: small;
  font-weight: bold;
  justify-content: center;  
  color: white;
  background-color: #1a73e8;
  text-transform: none;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  margin: 0px;
}
.blue-hover-btn {
  font-size: small;
  text-decoration: none;
  text-align: center;
  color: #287ae6 !important;
  background-color: white;
  text-transform: none;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border-color: white;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-btn:hover {
  /* box-shadow: 0px 0px 33px -10px rgba(40,122,230,1); */
  box-shadow: 0px 12px 12px -14px rgba(40,122,230,1);
  background-color:  #1a73e8;
  border: 1px solid #287ae6;
}

.blue-hover-btn:hover {
  background-color: #dcebff;
  transition: background-color .5s;
}

.guest-btn{
  margin-right: auto;
  margin-left: 28px;
}

.guest-btn:hover {
  background-color: transparent;
}

.btn+.btn {
    margin-left: 10px;
}
/* ################################### */
/*  form styling  */
/* ################################### */

.form-background {
  background-color: white;
  width: 100%;
  height: 100%;
}

.login-form-container {
  display: flex;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 220px;
  flex-direction: column;
  align-items: center;
  height: px;
  width: 450px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form-container .title-logo {
  margin: auto;
  text-align: center;
}

.login-form-container h2 {
  font-weight: lighter;
  font-size: x-large;
  padding-bottom: 10px;
}

.login-form-container .title-logo {
  margin-left: 150px;
  margin-bottom: 12px;
}


.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.session-form p:only-of-type {
  font-size: smaller;
  width: 84%;;
  margin-left: 10px;
}

.form-submit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    padding-top: 20px;
}

.session-form input {
  width: 75%;
  height: 40px;
  padding: 5px 15px;
  margin: 10px;
  border: 0;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input::placeholder {
  color: rgb(131, 131, 131);
  font-size: medium;
  box-sizing: border-box;
  transition: color 0.4s;
  border: 1px solid white;
  border-radius: 5px;
  margin: 8px 0;
}

.form-input {
  border-color: none;
  transition: border-color .5s;
}

.form-input:focus {
  border: 2px solid #3b8af0;
  border-radius: 5px;
  outline: none;
}

input:focus::placeholder {
  color: white;
}

.form-label {
  color: rgb(255, 255, 255);
  transition: color 1s;
}

.error-message ul,
.error-message li,
.error-message li:first-child,
.error-message li:hover  {
  color: lightcoral;
  list-style: none;
  background: none;
  box-shadow: none;
  position: inherit;
  justify-content: space-between;
}

/* ################################### */
/*  dropdown styling  */
/* ################################### */

.nav-user-icon-container {
display: inline;
}

.nav-user-icon {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  border: 1px solid #3b8af0;
  border-radius: 50px;
  background-color: #3b8af0;
  width: 15px;
  height: 15px;
  margin: 2px;
  margin-right: 25px;
  margin-top: 10px;
}

.dropdown-btns {
  display: flex;
}

.dropdown-user-icon {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  border: 1px solid #3b8af0;
  border-radius: 50px;
  background-color: #3b8af0;
  width: 15px;
  height: 15px;
  margin: 2px;
  margin-right: 25px;
  margin-top: 10px;
}

.nav-user-icon:hover {
  cursor: pointer;
}

.nav-user-icon p {
  text-align: center;
  margin: auto;
  color: white;
}

.profile-circle {
  width: 50px;
  height: 50px;
}

ul {
  position: fixed; 
  top: 50px;
  right: 15px;
  background-clip: border-box;
  background-color: white;
  box-shadow: 0.5px 0px 12px 0px #ccc;
  border-radius: 2px;
  padding-bottom: 10px;
}

.dropdown ul{
  display: block;
  text-decoration: none;
}

.dropdown li, a{
  text-align: left;
  display: block;
  height: 40px;
  width: 180px;
  padding: 5px;
  line-height: 3;
  padding-left: 10px;
}

.dropdown-li-ele {
  display: block;
  text-decoration: none;
  text-align: left;
  color: black;
  line-height: 3;
  height: 40px;
  width: 180px;
  padding: 5px;
  padding-left: 0px;
}


.dropdown li:first-child {
  background-color: #eeeeee;
  height: 60px;
}

.dropdown li:first-child:hover {
  background-color: #eeeeee;
}

.dropdown-icon-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.dropdown li:hover{
  background-color: #f5f3f3;
}

.dropdown-icon-container svg{
  padding-right: 30px;
}


.dropdown-user-icon p{
    margin: 0px;
    color: white;
    margin-left: 2px;
    margin-right: 22px;
}

.user-initial {
  color: black !important;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  cursor: default;
}
/* ################################### */
/* Channel page styling */
/* ################################### */

.channel-container {
  width: 100%;
  height: 100%;
}

.showpage-container {
  display: flex;
  width: 100%;
  height: 80%;
  margin-top: 54px;
}

.showpage-user-icon {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  border: 1px solid #3b8af0;
  border-radius: 50px;
  background-color: #3b8af0;
  width: 50px;
  height: 50px;
  margin: 2px;
  margin-right: 25px;
  margin-top: 10px;
  margin-left: 100px;
}

.showpage-container p{
  /* font-size: x-large; */
  /* margin-left: 10px; */
  text-transform: capitalize;
  /* margin-top: 30px; */
}

.showpage-container p:hover{
  cursor: pointer;
}

.showpage-user-icon p {
  text-align: center;
  font-size: x-large;
  margin: auto;
  color: white;
}

.showpage-container ul {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: none;
}

.showpage-menu {
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 125px;
  left: 90px;
}

.showpage-menu li {
  float: left;
}

.showpage-menu li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: small;
  text-transform: uppercase;
  color: rgb(111, 111, 111);
  padding: 14px 16px;
  height: 25px;
  width: 80px;
}

.showpage-menu li a:hover {
  color: black;
}

.s-menu-selected, .s-menu-selected a {
  border-bottom: 2px solid black;
  color: black !important;
}

.showpage-username {
  padding-top: 40px;
}

.categories {
  position: absolute;
  /* top: 120px; */
  margin: auto;
  width: 100%;
  height: 65%;
  top: 180px;
  right: 0;
  height: 80%;
  background-color: white;
}

.showpage-video-carousel ul {
  box-shadow: none;
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 90px;
}

.showpage-video-carousel li {
  float: left;
}
.showpage-video-carousel li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: small;
    text-transform: uppercase;
    color: rgb(111, 111, 111);
    padding: 14px 16px;
    height: 25px;
    width: 80px;
}

.temp-image-container {
  display: flex;
  flex-direction: column;
  width: 210px;
  padding-top: 15px;
}

.temp-image-container li {
  margin-left: 4px;
  margin-top: 8px;
}

.temp-image {
  width: 210px;
  height: 117px;
}

.show-video-carousel {
  display: flex;
  flex-wrap: wrap;
}

/* Home page styling */

.video-carousel {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  box-shadow: none;
  list-style: none;
  left: 45px;
  width: 100%;
  right: 0;
}

.home-container {
  position: inherit;
  /* top: 120px; */
  margin: auto;
  width: 100%;
  height: 100%;
  top: 180px;
  right: 0;
  height: 100%;
}

/* Video show styling */
.video-show {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: none;
  margin-top: 20px;
  margin-left: 30px;
  width: 80%;
  background-color: transparent;
}

.video-show video {
  width: 100%;
  height: 100%;
}

.video-show li {
  margin-top: 20px;
  text-transform: capitalize;
}

.video-user-info {
  width: 80%;
  display: flex;
  margin-top: 60px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.video-show-container .dropdown-user-icon {
  /* margin-top: 50px; */
  margin-left: 10px;
  margin-bottom: 5px;
}

.video-text {
  color: black !important;
  marign: auto !important;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 10px;
}

/* Upload form styling */

.upload-form-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-text-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}

.form-text-inputs input{
  margin: 5px;
  padding: 4px;
}

.form-text-inputs .btn {
  margin-right: 0px;
  margin: auto;
}

.video-up-btn {
  font-size: 600%;
  color: lightgrey;
  text-align: center;
}

.video-up-btn:hover {
  color: rgb(177, 4, 4)
}

.upload-inpt-label:hover {
  cursor: pointer;
}

.upload-inpt-label input[type="file" i] {
  display: none;
}