/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* box-shadow:         inset 0 0 10px #000000; */

.app-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-container {
  /* width: 600px; */
  display: flex;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-clip: border-box;
  /* box-shadow: 0.1px .5px 1.5px .5px #ccc; */

}

.nav-bar-shadow {
  /* position: absolute; */
  width: 100%;
  box-shadow: 0.1px .5px 1.5px .5px #ccc;

}

.nav-auth-buttons {
  display: flex;
  flex-direction: row;
  margin: 10;
}

.title-logo+.nav-auth-buttons {
  /* margin-left: 900px; */
}

.title-logo, h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px;
}

.title-logo::first-letter{
  color: black;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: flex;
  color: #065fd4;
  text-decoration: none;
  border-radius: 3px;
  margin: auto;
  width: 70px;
  height: 20px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
}

/* .btn:hover {
  color: white;
  background-color: #065fd4;
} */

.btn+.btn {
    margin-left: 10px;
}
   

.hidden {
  display: none;
}
   