/* ################################### */
/* Channel page styling */
/* ################################### */

.channel-container {
  width: 100%;
  height: 100%;
}

.showpage-container {
  display: flex;
  width: 100%;
  height: 80%;
  margin-top: 54px;
}

.showpage-user-icon {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  border: 1px solid #3b8af0;
  border-radius: 50px;
  background-color: #3b8af0;
  width: 50px;
  height: 50px;
  margin: 2px;
  margin-right: 25px;
  margin-top: 10px;
  margin-left: 100px;
}

.showpage-container p{
  /* font-size: x-large; */
  /* margin-left: 10px; */
  text-transform: capitalize;
  /* margin-top: 30px; */
}

.showpage-container p:hover{
  cursor: pointer;
}

.showpage-user-icon p {
  text-align: center;
  font-size: x-large;
  margin: auto;
  color: white;
}

.showpage-container ul {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: none;
}

.showpage-menu {
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 125px;
  left: 90px;
}

.showpage-menu li {
  float: left;
}

.showpage-menu li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: small;
  text-transform: uppercase;
  color: rgb(111, 111, 111);
  /* padding: 14px 16px; */
  padding-top: 25px;
  height: 25px;
  width: 80px;
}

.showpage-menu li a:hover {
  color: black;
}

.s-menu-selected, .s-menu-selected a {
  border-bottom: 1px solid black;
  color: black !important;
}

.showpage-username {
  padding-top: 40px;
}

.categories {
  position: absolute;
  /* top: 120px; */
  margin: auto;
  width: 100%;
  height: 65%;
  top: 180px;
  right: 0;
  height: 80%;
  background-color: white;
}

.show-video-carousel {
  padding-top: 50px;
  padding-left: 20px;
}

.showpage-video-carousel ul {
  box-shadow: none;
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  margin: 0;
  left: 90px;
  background: transparent;
}

#car-0 {
  padding: 0;
}

.show-video-carousel p{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 190px;
  white-space: nowrap;
}

.showpage-video-carousel li {
  float: left;
}
.showpage-video-carousel li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: small;
    text-transform: uppercase;
    color: rgb(111, 111, 111);
    padding: 14px 16px;
    height: 25px;
    width: 80px;
}

.temp-image-container {
  display: flex;
  flex-direction: column;
  width: 210px;
  padding-top: 15px;
  padding-right: 10px;
}

.temp-image-container:hover {
  cursor: pointer;
}

.temp-image-container li {
  margin-left: 4px;
  margin-top: 8px;
}

.temp-image {
  width: 210px;
  height: 117px;
}

.show-video-carousel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.preview-carousel{
    display: flex;
    list-style: none;
    padding-bottom: 40px;
    border-bottom: .5px solid lightgray;
}