/* ################################### */
/* Home page styling */
/* ################################### */

.video-carousel {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  box-shadow: none;
  list-style: none;
  left: 45px;
  width: 100%;
  right: 0;
}

.home-container {
  position: inherit;
  margin: auto;
  margin-top: 55px;
  margin-left: 180px;
  width: 80%;
  height: 100%;
  right: 0;
  height: 100%;
  background: transparent;
  box-shadow: none;
 
}

.home-user-initial {
  color: white;
  text-align: center;
}

.home-container .dropdown-user-icon {
  justify-content: space-around;
}

.temp-image-container p{
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 190px;
    white-space: nowrap;
}
