/* ################################### */
/* Navigation styling */
/* ################################### */

.nav-container {
  width: 100%;
  height: 55px;
  /* display: flex; */
  margin: auto;
  display: flex;
  flex-direction: row;
  background-clip: border-box;
  background-color: white;
  box-shadow: 0px 5.5px 5.5px -5.5px #ccc;
  position: fixed;
}

.nav-auth-buttons {
  display: flex;
  flex-direction: row;
  margin: 10;
}

.nav-auth-buttons .btn {
  margin: auto;
  margin-right: 40px;
  color: grey !important;
  text-transform: uppercase;
}

.nav-auth-buttons .btn:active {
  box-shadow: 0px 12px 12px -14px lightgray;
  background-color: lightgray;
  border: 1px solid lightgray;
}

.title-logo + .nav-auth-buttons {
  /* margin-left: 900px; */
}

.title-logo,
h1 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  height: 90%;
  justify-content: center;
  font-weight: bold;
}

.title-logo {
  width: 40px;
  height: 5px;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
}

.title-logo::first-letter {
  color: black;
}

.title-logo p {
  font-size: 30px;
  margin-top: 1px;
  padding-right: 5px;
}

.title-logo a {
  overflow: inherit;
}

.title-logo svg {
  color: red;
}

.title-logo:hover {
  cursor: pointer;
}

.logo-image {
  margin-top: 18px;
  margin-left: 55px;
  height: 20px;
  left: 10px;
  position: fixed;
}

.upload-button {
  margin: auto;
  margin-right: 20px;
  color: #a3a3a3;
}

.upload-button:hover {
  cursor: pointer;
}

.upload-button .plus-container {
  font-size: large;
  width: 20px;
}

.upload-button a {
  position: absolute;
  color: white !important;
  line-height: 20px;
  margin-left: 2px;
  width: 20px;
}

.hamburger-container {
  color: black;
}

.hamburger-btn {
  margin-top: 20px;
  margin-left: 30px;
  width: 60px;
  display: flex;
  height: 25px;
  justify-content: center;
}

.hamburger-container ul {
  position: fixed;
  width: 192px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 20px;
  top: 10px;
  box-shadow: none;
  background-color: #eee;
  border-right: 1px solid lightgray;
  left: -20px;
  top: 55px;
  text-align: center;
  transition: left 0.5s ease-in-out;
}

.hamburger-container a {
  text-align: center;
  margin: auto;
  height: 100%;
  width: 100%;
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}

.hamburger-container a:hover {
  color: red;
}

.hamburger-container li {
  color: black;
}

.hamburger-container li:hover {
  cursor: pointer;
  color: red;
  background-color: #d0d0d0;
}

.hamburger-bkg {
  width: 100vw;
  height: 100vw;
  position: absolute;
}
