/* ################################### */
/* Navigation styling */
/* ################################### */


.nav-container {
  width: 100%;
  height: 55px;
  /* display: flex; */
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-clip: border-box;
  background-color: white;
  box-shadow: 0px 5.5px 5.5px -5.5px #ccc;
  position: fixed;
}

.nav-auth-buttons {
  display: flex;
  flex-direction: row;
  margin: 10;
}

.nav-auth-buttons .btn {
  margin: auto;
  margin-right: 40px;
  color: grey !important;
  text-transform: uppercase;
}

.nav-auth-buttons .btn:active {
  box-shadow: 0px 12px 12px -14px lightgray;
  background-color:  lightgray;
  border: 1px solid lightgray;
}

.title-logo+.nav-auth-buttons {
  /* margin-left: 900px; */
}

.title-logo, h1 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  height: 90%;
  justify-content: center;
  font-weight: bold;
}

.title-logo {
  width: 40px;
  height: 5px;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
}

.title-logo::first-letter{
  color: black;
}

.title-logo p {
  font-size: 30px;
  margin-top: 1px;
  padding-right: 5px;
}

.title-logo a {
  overflow: inherit;
}

.title-logo svg {
  color: red;
  margin-left: 100px;
}

.title-logo:hover {
  cursor: pointer;
}

.logo-image {
    margin-top: 18px;
    margin-left: 55px;
    height: 20px;
    left: 10px;
    position: fixed;
}

.upload-button {
    margin: auto;
    margin-right: 20px;
    color: #a3a3a3
}

.upload-button:hover {
  cursor: pointer;
}

.upload-button .plus-container {
  font-size: large;
  width: 20px;
}

.upload-button a {
  position: absolute;
  color: white !important;
  line-height: 20px;
  margin-left: 2px;
  width: 20px;
}
/* ---------------------- */
/* search bar */
.search-container {
  width: 65%;
  height: 32px;
}

.search-container div{
  display: flex;
  justify-content: center;
  height: 48px;
}

.search-container form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 100%;
  width: 50%;
}

.search-container input {
  width: 100%;
  height: 50%;
  padding-left: 10px;
  margin-right: 0.8px;
  font-weight: lighter;
}

.search-container form p:first-of-type {
  width: 20px;
  height: 50%;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f8f8f8;
  box-shadow: inset 0px 0px 3px 0px #ccc;

}

.search-container form p:first-of-type svg{
  color: gray;
}

.search-container ul {
  left: 33%;
  list-style: none;
  right: 38%;
  padding-bottom: 40px !important;
}

.search-container li {
  padding: 10px;
}

