/* ---------------------- */
/* search bar */
/* ---------------------- */

.search-container {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 14px;
  height: 100%;
  /* width: 50%; */
  /* margin-right: 10%; */
}
.search-outline {
  border: 1px solid lightgray;
  height: fit-content;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 55vw;
}

.search-container input {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  max-width: 100%;
  text-align: inherit;
  width: 100%;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
  max-width: 55vw;
}

.seasrch-input input {
  margin-left: 5px;
}

.search-container p:first-of-type {
  width: 20px;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f8f8f8;
  box-shadow: inset 0px 0px 3px 0px #ccc;
}

.search-container p:first-of-type svg {
  color: gray;
}

.search-container p:first-of-type:hover {
  cursor: pointer;
}

.search-container ul {
  left: 27%;
  list-style: none;
  right: 22%;
  overflow-y: scroll;
  max-height: 500px;
}

.search-container li {
  padding: 10px;
}

.search-reults-container {
  display: flex;
  flex-direction: column;
  margin-right: 35%;
}

.search:first-child {
  margin-top: 30%;
}
.search {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  justify-content: space-between;
  width: 100%;
  text-align: -webkit-center;
}

.search-blurb-container {
  margin-left: -35px;
  margin-top: 70px;
}

.search > .preview-channel-name {
  margin-left: -170px;
  margin-top: 30px;
  height: 10px;
}

.search > .temp-image {
  margin-right: 20px;
}

.search p {
  text-align: left;
}

.search > .video-title {
  height: 20px;
  width: 200px;
}

.search-blurb {
  font-size: smaller;
}

.search-auto-li:hover {
  cursor: pointer;
  background-color: rgba(1, 69, 124, 0.397);
}
.selected {
  background-color: rgba(1, 69, 124, 0.397);
}
.search-no-result {
  display: flex;
  flex-direction: row;
  color: red;
  margin-top: 10%;
  margin-left: -28%;
  justify-content: space-between;
}

.search-no-result svg {
  margin: auto;
  margin-left: 10px;
}

.search-bkg {
  width: 100vw;
  height: 100vw;
  position: absolute;
}
