@media (min-width: 301px) and (max-width: 717px) {
  .search-container{
    display: none;
  }
  .search-reults-container {
    width: 100vw;
    margin: none;
  }

  .search-container > p, h3 {
    text-align: right;
    margin-left: 20px;
    width: 50vw;
  }

}