/* ---------------------- */
/* search bar */
/* ---------------------- */

.search-container {
  width: 65%;
  height: 32px;
}

.search-container div{
  display: flex;
  justify-content: center;
  height: 48px;
}

.search-container form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 100%;
  width: 50%;
}

.search-container input {
  width: 100%;
  height: 50%;
  padding-left: 10px;
  margin-right: 0.8px;
  font-weight: lighter;
}

.search-container form p:first-of-type {
  width: 20px;
  height: 50%;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f8f8f8;
  box-shadow: inset 0px 0px 3px 0px #ccc;

}

.search-container form p:first-of-type svg{
  color: gray;
}

.search-container form p:first-of-type:hover{
  cursor: pointer;
}

.search-container ul {
  left: 33%;
  list-style: none;
  right: 38%;
  padding-bottom: 40px !important;
}

.search-container li {
  padding: 10px;
}


.search-reults-container{
    display: flex;
    flex-direction: column;
    margin-right: 35%;
}

.search:first-child {
  margin-top: 30%;
}
.search {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
    width: 100%;
    text-align: -webkit-center;
}

.search-blurb-container{
    margin-left: -35px;
    margin-top: 70px;
}

.search > .preview-channel-name{
    margin-left: -170px;
    margin-top: 30px;
    height: 10px;
}
.search-blurb{
    font-size: smaller;
}

.search-auto-li:hover{
  cursor: pointer;
  background-color: rgba(1, 69, 124, 0.397);
}
.selected{
  background-color: rgba(1, 69, 124, 0.397);
}