/* ################################### */
/* Video page styling */
/* ################################### */
.video-show-container {
  width: 70%;
  margin-right: 80px;
}

.video-show {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: none;
  margin-top: 20px;
  margin-left: 30px;
  max-width: 80%;
  background-color: transparent;
}

.video-show video {
  width: 100%;
  height: 100%;
}

.video-show li {
  margin-top: 20px;
  text-transform: capitalize;
}

.video-user-info {
  width: 80%;
  display: flex;
  margin-top: 60px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.video-show-container .dropdown-user-icon {
  /* margin-top: 50px; */
  margin-left: 10px;
  margin-bottom: 5px;
}

.video-text {
  color: black !important;
  marign: auto !important;
  text-align: left;
  margin-top: 70px;
  padding-bottom: 10px;
}

.video-like-btn {
  position: absolute;
  left: 650px;
  top: 425px;
  display: flex;
}

.video-like-btn .error-message {
  padding-left: 20px;
}

.button-like {
  color: lightgray;
}

.button-like:hover{
  cursor: pointer;
  color: #6aa1e8;
}

.button-liked {
  color: #6aa1e8;
}

.button-liked:hover{
  cursor: pointer;
  color: lightgray;
}